<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="iconName" value="arrow" />
        <option name="ifTestStringNullAndEmpty" value="true" />
        <option name="userMacSet">
          <set>
            <option value="40213392-003" />
          </set>
        </option>
      </Profile>
    </option>
  </component>
</application>